.container {
  margin: auto 300px;
}

.btn {
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.inpt {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
