.heading-container {
  display: flex;
  align-items: center;
}

.list-containter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-containter textarea {
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.list-containter #items-remaining {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item button {
  width: 150px;
}

.list-item .edit-button {
  margin: 0 10px;
}
